<mat-toolbar color="primary">
  <button mat-icon-button color="accent">
    <mat-icon (click)="toggleLeftNav()">menu</mat-icon>
  </button>
  <span>Responsive Navigation</span> <span class="example-spacer"></span>
  <a routerLink="/TrackEditor" routerLinkActive="is-active" mat-button>Track Editor</a>
  <a routerLink="/DigitalTwin" routerLinkActive="is-active" mat-button>Digital Twin</a>
  <span class="fill-space"></span>
  <mat-slide-toggle (click)="toggleRightNav()">Toggle</mat-slide-toggle>
</mat-toolbar>

