<div class="h-100">
  <mat-sidenav-container class="sidenav-container h-100">
    <mat-sidenav #sidenav_left mode="push" opened="false" position="start" class="sidenav_left m-md-auto">
      <mat-nav-list>
        <a mat-list-item (click)="openDialogSettings()" > Settings </a>
        <a mat-list-item (click)="openDialogExport()" > Export </a>
        <a mat-list-item (click)="openDialogImport()" > Import </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="work_field">
        <gridster [options]="options">
          <gridster-item class="" [item]="grid_item.item" *ngFor="let grid_item of grid_items">
            <div class="gridster-item-img-overlay">
              <mat-card class="mat-elevation-z0">
                <mat-card-actions>
                  <button mat-icon-button class="gridster-item-img-overlay-button" (click)="rotateItem(grid_item.id, 90)">
                    {{grid_item.id}}
                    <mat-icon color="accent">
                      rotate_right
                    </mat-icon>
                  </button>
                  <button mat-icon-button color="accent" (mousedown)="removeItem($event, grid_item)"
                          (touchstart)="removeItem($event, grid_item)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
            <img src="{{grid_item.url}}" id="{{'gridster-item-image' + grid_item.id}}" class="gridster-item-img" alt="">
          </gridster-item>
        </gridster>
    </mat-sidenav-content>
    <mat-sidenav #sidenav_right mode="side" opened="true" position="end" class="sidenav_right">
      <app-te-right-sidebar-content (button_clicked)="addItem($event)"></app-te-right-sidebar-content>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
