:host gridster {
  background: lightgrey;
}

.file-input {
  display: none;
}

.transform90 {
  transform: rotate(-90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
}

.transform180 {
  transform: rotate(-180deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-180deg);
  /* Firefox */
  -moz-transform: rotate(-180deg);
  /* IE */
  -ms-transform: rotate(-180deg);
  /* Opera */
  -o-transform: rotate(-180deg);
}

.transform270 {
  transform: rotate(-270deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-270deg);
  /* Firefox */
  -moz-transform: rotate(-270deg);
  /* IE */
  -ms-transform: rotate(-270deg);
  /* Opera */
  -o-transform: rotate(-270deg);
}
