<div class="h-100">
  <mat-sidenav-container class="sidenav-container h-100">
    <mat-sidenav #sidenav_left mode="push" opened="false" position="start" class="sidenav_left bg-light">
      <mat-nav-list>
        <a mat-list-item (click)="openDialog()" > Settings </a>
        <a mat-list-item (click)="openDialogImport()" > Import </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="work_field">
      <canvas #canvas class="dt-canvas"></canvas>
    </mat-sidenav-content>
    <mat-sidenav #sidenav_right mode="side" opened="true" position="end" class="sidenav_right bg-light">
      <app-dt-right-sidebar-content (console_mqtt_msg)="sendMQTTConsoleMsg($event)"></app-dt-right-sidebar-content>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
