<cdk-virtual-scroll-viewport itemSize="3" class="example-viewport">
  <div *cdkVirtualFor="let item of items" class="example-item">
    <mat-card appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="8">
      <img mat-card-image src="{{item.url}}" class="" width="60" alt="">
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="openDialog(item)"><mat-icon>fullscreen</mat-icon></button>
        <button mat-icon-button (click)="addTrackPiece(item.type)" ><mat-icon>add_circle_outline</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</cdk-virtual-scroll-viewport>
