<div>
  <mat-dialog-content class="te-dialog-container">
    <img class="te-dialog-img" src="{{data.url}}" mat-card-image>
    <h2 mat-dialog-title>{{data.name}}</h2>
    <p *ngIf="data.type === 'straight'">A straight track piece by Anki Overdrive</p>
    <p *ngIf="data.type === 'curve'">A curve track piece by Anki Overdrive</p>
    <p *ngIf="data.type === 'intersection'">A intersection track piece by Anki Overdrive</p>
    <p *ngIf="data.type === 'junction'">A junction track piece</p>

    <mat-form-field *ngIf="data.type !== 'intersection'" appearance="fill">
      <mat-label>Track ID</mat-label>
      <input matInput [(ngModel)]="data.track_id">
    </mat-form-field>
    <p></p>
    <mat-form-field appearance="fill">
      <mat-label>Lanes</mat-label>
      <input matInput [(ngModel)]="data.lanes">
    </mat-form-field>
    <p></p>
    <div *ngIf="data.type === 'junction'">
      <mat-form-field appearance="fill">
        <mat-label>Left</mat-label>
        <input matInput [(ngModel)]="data.left">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Right</mat-label>
        <input matInput [(ngModel)]="data.right">
      </mat-form-field>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close color="warn" class="te-dialog-btn-close">Close</button>
    <button mat-button [mat-dialog-close]="data" class="te-dialog-btn-add" >Add</button>
  </mat-dialog-actions>
</div>

