div .gridster-item-img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  z-index: 0;
}

div .gridster-item-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
  z-index: 1;
}

div:hover .gridster-item-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .6);
}

div:hover .gridster-item-img-overlay mat-card{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .0);
}

div:hover .gridster-item-img-overlay mat-card .gridster-item-img-overlay-button{
  z-index: 100;
}

.fill-space {
  flex: 1 1 auto;
}
