.example-viewport {
  height: 100%;
  width: 250px;
  border: 1px solid black;
}

.example-item {
  padding: 15px 5px;
}

.dt-add-circle {
  color: forestgreen;
}

.fill-space {
  flex: 1 1 auto;
}


